@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-base: #F2F3F4;
  --color-authority: #09264A;
  --color-action: #F99820;
  --color-dark: #2B2F33;
}
